<div class="navbar">
	<ul>
		<li><a href="default.asp">Accueil</a></li>
		<li><a href="news.asp">News</a></li>
		<li><a href="contact.asp">Contact</a></li>
		<li><a href="about.asp">A propos</a></li>
	</ul>
</div>
